.container{
    display:flex;
    max-width: 100%;
}
.scroll{
    min-width: 200px;
    overflow-x: scroll;
}
.fixed{
    border-spacing: 0;
}
.fixed thead tr{
    background-color:#f07e7e;
    height: 30px;
}
.scrollable thead tr{
    background-color:#f07e7e;
    height: 30px;
}

.scrollable thead{
    background-color:#f07e7e;
}
.scrollable{
    width:100px;
    border-spacing: 0;
}
td{
    min-width:200px !important;
    border: 1px solid #221111;
}
